main {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    gap: 20px;
    & #seccion-formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: gold;
        flex: 1;
        & input, label, button, textarea {
            display: block;
            margin: 5px 20px;
            resize: none;
        }
    }
    & #seccion-noticias{
        background-color: aliceblue;
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: min-content;
        gap: 15px;
        padding: 15px;
        & .noticia{
            padding: 10px;
            background-color: aquamarine;   
        }
    }
}