<main>
    <section id="seccion-formulario">
        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" required [(ngModel)]="noticiaActual.titulo">

        <label for="imagen">Imagen</label>
        <input type="file" id="imagen" accept=".png,.jpg,.jpeg" required (change)="capturarImagen($event)" [(ngModel)]="noticiaActual.imagen">

        <label for="descripcion">Descripcion de la noticia</label>
        <textarea id="descripcion" cols="100" rows="10" required [(ngModel)]="noticiaActual.descripcion"></textarea>
        <!-- <input type="text" id="descripcion"> -->
        <!-- no agrego el input date porque lo suyo seria que la fecha de publicación sea del dia que se cree la noticia -->
        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" pattern="\d{4}-\d{2}-\d{2}" [(ngModel)]="noticiaActual.fecha">
        <button (click)="agregarNoticia()">Agregar noticia</button>
    </section>
    <section id="seccion-noticias">
        <!-- por cada noticia un article -->        
        @for (noticia of noticias; track $index) {
            <article class="noticia">
                <p>{{noticia.titulo}}</p>
                <img [src]="noticia.imagen" [alt]="noticia.titulo">
                <p>{{noticia.descripcion}}</p>
                <span>{{noticia.fecha}}</span>
            </article>
        }
    </section>
</main>