<main>
    <section id="seccion-formulario">
        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" required>

        <label for="imagen">Imagen</label>
        <input type="file" id="imagen" accept=".png,.jpg,.jpeg" required>

        <label for="descripcion">Descripcion de la noticia</label>
        <textarea id="descripcion" cols="100" rows="10" required></textarea>
        <!-- <input type="text" id="descripcion"> -->
        <button type="submit">Agregar noticia</button>
    </section>
    <section id="seccion-noticias">
        <!-- por cada noticia un article -->        
        @for (noticia of noticias; track $index) {
            <article>
                <p>{{noticia.titulo}}</p>
                <img [src]="noticia.imagen" [alt]="noticia.titulo">
                <p>{{noticia.descripcion}}</p>
                <span>{{noticia.fecha}}</span>
            </article>
        }
    </section>
</main>